@font-face 
{
    font-family: 'Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face 
{
    font-family: 'Italic';
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
}
